{% extends 'layout.html' %}

{% block body %}
<div class ="jumbotron text-center">
    <h1>Welcome to The Datamining App</h1>
    <p class="lead"> Enter a Query to search for iOS application, enter a query to classify an app,enter a query to search for an image </p>
</div>
<body>
<form class="form-inline my-2 my-lg-0">

</form>
<h2>Search</h2>
<form action= " " method = "POST">
    <label> Enter Query </label>
    <input type="text" name ="Search" value={{request.form.Search}}>

    <button type = "submit">Submit</button>

</form>
</form>

<h2> Classify</h2>
<form action= " " method = "POST">
    <label> Enter Query </label>
    <input type="text" name ="Classify" value={{request.form.Classify}}>

    <button type = "submit">Submit</button>

</form>
<h2> Image Captioning </h2>
<form action= " " method = "POST">
    <label> Enter Query </label>
    <input type="text" name ="Image" value={{request.form.Image}}>

    <button type = "submit">Submit</button>

</form>
</body>
{% endblock %}