{% extends 'layout.html' %}

{% block body %}
<style>
        body { background-color:rgb(255, 255, 255); }
        .highlightme { background-color:#FFFF00; }
        p { background-color:#FFFFFF; }
</style>
<div class ="jumbotron text-center">
    <h1>Results for '{{classifyQuery}}'</h1>
    <p class="lead">  </p>
</div>
<body>
<form class="form-inline my-2 my-lg-0">

</form>
<h1>Top 4 Categories:</h1>
{% for i in range(4) %}
{% if percentage[i] > 0%}
{{categories[i]}}
{{percentage[i]}}
<br>
{% endif %}
{% endfor %}
<h2>Prior Probability</h2>
{{priors[0]}}

</body>
{% endblock %}